# Firebase emulator logs
*-debug.log
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
database-debug.log
auth-debug.log
functions-debug.log
hosting-debug.log
storage-debug.log

# Firebase emulator state
.firebase/

# Script temp files
/tmp/firebase-emulator.pid
/tmp/firebase-emulator.log
